@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';


body {
  background-image: $favBackground;
}

h2 {
  color: whitesmoke;
}

.card {
  margin: 1rem;
}

.btn {
  margin: .5rem;
}
